<header>
	<nav class="navbar navbar-expand-md navbar-light bg-light px-5 ">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<img src="{{asset('images/atome.png')}}" width="100px">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">

				{% set route = app.request.attributes.get('_route') %}

				<ul class="navbar-nav ms-auto me-5">
					<li class="nav-item">
						<a class="nav-link {{ checkRoute('app_home',route)  }} " aria-current="page" href="{{path('app_home')}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {{ route == 'app_wish' ? 'active': ' '  }}" href="{{path('app_wish')}}">Wishes</a>
					</li>

					<li class="nav-item">
						<a class="nav-link {{ route == 'app_dino' ? 'active': ' '  }}" href="{{path('app_dino')}}">Dino</a>
					</li>

					<li class="nav-item">
						<a class="nav-link {{ route == 'app_about' ? 'active': ' '  }}" href="{{path('app_about')}}">About us</a>
					</li>

					<li class="nav-item">
						<a class="nav-link {{ route == 'admin_home' ? 'active': ' '  }}" href="{{path('admin_home')}}">Admin</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>
</header>
