{% extends 'base.html.twig' %}

{% block title %}Bucket|wish list
{% endblock %}

{% block body %}
	<h1 class="text-center pt-5 pb-3">#Demo## Mon tableau de wishes</h1>

	<div class="row">
		<div class="col-md-10 mx-auto">
			<table class="table">
				<thead class="table-primary">
					<tr>
						<th>#</th>
						<th>Title</th>
						<th>Description</th>
						<th>Catégorie</th>
						<th>Date de creation</th>
						<th>Afficher</th>
				
					</tr>
				</thead>
				<tbody>
					{%  for  wish in wishes %}
						<tr>
							<td>{{wish.id}}</td>
							<td>{{wish.title}}</td>
							<td>{{wish.description}}</td>
							<td>{{wish.category.name}}</td>
							<td>{{wish.dateCreated|date('Y/m/d')}}</td>
							<td>
								<a href="{{path('app_wish_afficher',{id:wish.id})}}" class="btn btn-primary">Afficher</a>
							</td>
							
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<a href="{{path('app_wish_ajouter')}}" class="text-center">Ajouter une wish</a>
{% endblock %}
