{% extends 'base.html.twig' %}

{% block title %}Bucket|Demo personne
{% endblock %}

{% block body %}
	<h1 class="text-center pt-5 pb-3">#Demo## Ajouter une personne</h1>

	{{ form_start(formPersonne) }}

	<div class="row">
		<div class="col-md-6 mx-auto">
			{{ form_row(formPersonne.nom) }}
			{{ form_row(formPersonne.prenom) }}
			{{ form_row(formPersonne.age) }}
		</div>
	</div>


	<div class="d-grid gap-2 col-6 mx-auto my-3">
		<button class="btn btn-primary" type="submit">Envoyer</button>
	</div>
	{{ form_end(formPersonne) }}


{% endblock %}
